body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
}

.logoinea {
    width: 100%;
}

.container-info {
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 680px) {
    .parte-superior {
        font-size: 10px;
    }
}

@media (max-width: 460px) {
    .parte-superior {
        font-size: 8px;
    }

    .parte-inferior {
        gap: 5%;
        font-size: 12px;
    }
}

.parte-superior {
    font-family: Arial, Helvetica, sans-serif;
}

.parte-inferior {
    display: flex;
    gap: 10%;
    align-items: center;
    justify-content: center;
    font-family: fantasy;
}

.container-form {
    width: 96%;
    padding: 1%;
    margin-left: 1%;
}

.info-pessoal {
    display: flex;
    gap: 2%;
    margin-bottom: 20px;
}

@media (max-width: 1100px) {

    .info-pessoal,
    .info-atitudes {
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    .container-form {
        display: flex;
        justify-content: center;
    }

}

@media (max-width: 500px) {
    .container-form {
        margin-left: 20%;
        width: 60%;
    }

    .info-pessoal {
        width: 80%;
    }

    .info-atitudes {
        width: 80%;
    }
}

legend {
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 5px #888;
}

.info-atitudes {
    display: flex;
    gap: 2%;
}

.bt-enviar {
    border-radius: 5px;
    border: 2px solid #ccc;
}